
﻿<div class="nav-menu">
         <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
             Home
         </NavLink>
         <NavLink class="nav-link" href="availability">
             My Availability
         </NavLink>
         <NavLink class="nav-link" href="meeting-requests">
             My Meeting Requests
         </NavLink>
     </div>

